body {
  height: 95.3vh;
  margin: 0;
  padding: 0;
}

body .footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

body .footer .container {
  margin: 0 auto;
}

body .footer .container .footer-social-icons {
  width: 5%;
  -webkit-filter: invert(46%) sepia(12%) saturate(344%) hue-rotate(167deg) brightness(95%) contrast(85%);
          filter: invert(46%) sepia(12%) saturate(344%) hue-rotate(167deg) brightness(95%) contrast(85%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  height: 100%;
}

.container .wrapper {
  height: 100%;
}

.container .wrapper #left-cont {
  height: 100%;
  border-right: 1px solid lightgray;
}

.container .wrapper #left-cont #logo-cont {
  height: 10%;
}

.container .wrapper #left-cont #logo-cont .logo-img {
  width: 45%;
  cursor: pointer;
}

.container .wrapper #left-cont #form-cont #input-cont {
  width: 100%;
}

.container .wrapper #left-cont #form-cont #input-cont .remove-user-input {
  cursor: pointer;
  -webkit-filter: invert(21%) sepia(87%) saturate(6870%) hue-rotate(357deg) brightness(105%) contrast(117%);
          filter: invert(21%) sepia(87%) saturate(6870%) hue-rotate(357deg) brightness(105%) contrast(117%);
}

.container .wrapper #left-cont #playlist-cont {
  height: 82%;
}

.container .wrapper #left-cont #playlist-cont #playlist-list .list-group-item {
  border-left: none !important;
  border-right: none !important;
}

.container .wrapper #right-cont #loadingPlaylistGif {
  width: 10%;
}

globalColorStrings {
  aliceblue: aliceblue;
  aquamarine: aquamarine;
  blue: blue;
  blueviolet: blueviolet;
  brown: brown;
  burlywood: burlywood;
  cadetblue: cadetblue;
  chartreuse: chartreuse;
  chocolate: chocolate;
  coral: coral;
  cornflowerblue: cornflowerblue;
  crimson: crimson;
  darkblue: darkblue;
  darkcyan: darkcyan;
  darkgoldenrod: darkgoldenrod;
  darkgreen: darkgreen;
  darkkhaki: darkkhaki;
  darkmagenta: darkmagenta;
  darkolivegreen: darkolivegreen;
  darkorange: darkorange;
  darkorchid: darkorchid;
  darkred: darkred;
  darksalmon: darksalmon;
  darkseagreen: darkseagreen;
  darkslateblue: darkslateblue;
  darkslategray: darkslategray;
  darkslategrey: darkslategray;
  darkturquoise: darkturquoise;
  darkviolet: darkviolet;
  deeppink: deeppink;
  deepskyblue: deepskyblue;
  dimgrey: dimgray;
  dodgerblue: dodgerblue;
  firebrick: firebrick;
  forestgreen: forestgreen;
  fuchsia: magenta;
  gold: gold;
  goldenrod: goldenrod;
  gray: gray;
  green: green;
  greenyellow: greenyellow;
  grey: gray;
  hotpink: hotpink;
  indianred: indianred;
  indigo: indigo;
  lawngreen: lawngreen;
  lightcoral: lightcoral;
  lightgreen: lightgreen;
  lightsalmon: lightsalmon;
  lightslategray: lightslategray;
  limegreen: limegreen;
  magenta: magenta;
  maroon: maroon;
  mediumblue: mediumblue;
  mediumpurple: mediumpurple;
  mediumseagreen: mediumseagreen;
  mediumslateblue: mediumslateblue;
  mediumspringgreen: mediumspringgreen;
  mediumturquoise: mediumturquoise;
  mediumvioletred: mediumvioletred;
  midnightblue: midnightblue;
  navy: navy;
  olive: olive;
  olivedrab: olivedrab;
  orange: orange;
  orangered: orangered;
  orchid: orchid;
  palevioletred: palevioletred;
  peru: peru;
  plum: plum;
  purple: purple;
  rebeccapurple: rebeccapurple;
  red: red;
  rosybrown: rosybrown;
  royalblue: royalblue;
  saddlebrown: saddlebrown;
  salmon: salmon;
  sandybrown: sandybrown;
  seagreen: seagreen;
  sienna: sienna;
  slateblue: slateblue;
  slategrey: slategray;
  springgreen: springgreen;
  steelblue: steelblue;
  teal: teal;
  tomato: tomato;
  violet: violet;
  yellow: yellow;
  yellowgreen: yellowgreen;
}
/*# sourceMappingURL=styles.css.map */